body {
  background-image: linear-gradient(rgb(212, 151, 36), rgb(71, 71, 163));
  background-repeat: no-repeat;
}

header {
  background-color: rgb(170, 34, 24, 0.7);
  /* border: 10px solid white; */
  width: 40%;
  position: relative;
  border-radius: 20px;
  margin: 15px;
  animation-name: header;
  animation-duration: 2.5s;
}

#about-me div {
  background-color: rgb(170, 34, 24, 0.7);
  border-radius: 20px;
  margin: 15px;
  position: relative;
  animation-name: about-me;
  animation-duration: 2.5s;
  /* animation-delay: 5s; */
}

header img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  padding: 25px;
  display: inline;
}

header h1 {
  font-size: 50px;
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  bottom: 30px;
}

nav ul {
  font-size: 20px;
  line-height: 40px;
  background-color: rgb(28, 128, 128);
  display: flex;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  animation-name: nav;
  animation-duration: 2.5s;
  /* animation-delay: 2.5s; */
}

nav li {
  padding-left: 40px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

content p {
  margin: 15px;
}

content h2 {
  font-size: 30px;
  margin: 15px;
}

#projects {
  margin: 20px;
}

content button {
  background-color: burlywood;
  /* border: solid black 1px; */
  border-top-left-radius: 10px;
  padding: 5px;
  border: none;
}
content button:hover {
  color: grey;
  background-color: rgb(212, 167, 108);
}

.pro1-1 {
  display: none;
}

nav a:visited {
}

nav a:hover {
}

nav a:active {
}

@keyframes header {
  0% {
    right: 550px;
  }
  100% {
    right: 0px;
  }
}

@keyframes nav {
  0% {
    left: 1920px;
  }
  100% {
    left: 0px;
  }
}

@keyframes about-me {
  0% {
    right: 1920px;
  }

  100% {
    right: 0px;
  }
}
